<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Customer::manage_lead" title="Manage Customer Lead" translate="title" module="Abhinay_LeadForm"
             sortOrder="150" parent="Magento_Customer::customer" action="lead/lead/index"
             resource="Abhinay_LeadForm::manage"/>
    </menu>
</config>
